In [11]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [13]:
data = pd.read_csv("automobile/imports-85.data", header=None, na_values="?")
data.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [15]:
data.loc[:, data.dtypes == "float64"] = data.loc[:, data.dtypes == "float64"].fillna(
    data.loc[:, data.dtypes == "float64"].mean(axis=0)
)
data.loc[:, data.dtypes == "object"] = data.loc[:, data.dtypes == "object"].fillna("")
data.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [17]:
data_encoded = pd.get_dummies(data)
data_encoded

,0,1,9,10,11,12,13,16,18,19,...,15_twelve,15_two,17_1bbl,17_2bbl,17_4bbl,17_idi,17_mfi,17_mpfi,17_spdi,17_spfi
0,3,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,False,False,False,False,False,False,False,True,False,False
1,3,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,False,False,False,False,False,False,False,True,False,False
2,1,122.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,False,False,False,False,False,False,False,True,False,False
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,False,False,False,False,False,False,False,True,False,False
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,False,False,False,False,False,False,False,True,False,False
201,-1,95.0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,False,False,False,False,False,False,False,True,False,False
202,-1,95.0,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,False,False,False,False,False,False,False,True,False,False
203,-1,95.0,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,False,False,False,False,False,True,False,False,False,False
204,-1,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,False,False,False,False,False,False,False,True,False,False

In [19]:
data_encoded.columns = data_encoded.columns.astype(str)
X = data_encoded.drop(columns=["25"])
y = data_encoded["25"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=3)

In [21]:
scaler = RobustScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
model = LinearRegression().fit(X_train, y_train)
preds = model.predict(X_test)

In [23]:
model = LinearRegression().fit(X_train, y_train)
preds = model.predict(X_test)
print(
    f"""
    MSE_test = {metrics.mean_squared_error(preds, y_test)},
    MAE_test = {metrics.mean_absolute_error(preds, y_test)}
    r2_test = {metrics.r2_score(y_test, preds)}
"""
)

    MSE_test = 4532429.049374122,
    MAE_test = 1604.145364013898
    r2_test = 0.9428782016234767

Реализуем Хубер лосс, согласно условий из ссылки

In [73]:
class MyLinearRegression:
    def __init__(self, lr=0.005, num_iter=10000, loss_function='mse', delta=1.0) -> None:
        self.lr = lr
        self.num_iter = num_iter
        self.loss_function = loss_function
        self.delta = delta

    def calculate_loss(self, y, y_pred):
        if self.loss_function == 'mse':
            return ((y - y_pred) ** 2).mean()
        elif self.loss_function == 'huber':
            diff = y - y_pred
            abs_diff = np.abs(diff)
            mask = abs_diff <= self.delta
            squared_loss = 0.5 * diff**2
            linear_loss = self.delta * (abs_diff - 0.5 * self.delta)
            return np.where(mask, squared_loss, linear_loss).mean()

    def calculate_dldw(self, y, y_pred, x):
        diff = y - y_pred
        grad_w = 0
        if self.loss_function == 'mse':
            grad_w = (-2 * (x.T * diff).T).mean(axis=0)
        elif self.loss_function == 'huber':
            abs_diff = np.abs(diff)
            mask = abs_diff <= self.delta
            grad_core = np.where(mask, diff, self.delta * np.sign(diff))
            grad_w = (-x.T * grad_core).mean(axis=1)
        return grad_w

    def calculate_dldb(self, y, y_pred):
        diff = y - y_pred
        grad_b = 0
        if self.loss_function == 'mse':
            grad_b = (-2 * diff).mean()
        elif self.loss_function == 'huber':
            abs_diff = np.abs(diff)
            mask = abs_diff <= self.delta
            grad_core = np.where(mask, diff, self.delta * np.sign(diff))
            grad_b = -grad_core.mean()
        return grad_b

    def fit(self, X_train, y_train):
        X_train = np.array(X_train)
        y_train = np.array(y_train)
        self.weights = np.random.rand(X_train.shape[1])
        self.b = 0
        for i in range(self.num_iter):
            pred = (X_train @ self.weights) + self.b
            self.weights -= self.lr * self.calculate_dldw(y_train, pred, X_train)
            self.b -= self.lr * self.calculate_dldb(y_train, pred)

    def predict(self, X_test):
        return X_test @ self.weights + self.b

Реализация лин. регрессии с базовыми парамтерами

In [76]:
	
my_model = MyLinearRegression()
my_model.fit(X_train, y_train)
preds = my_model.predict(X_test)
print(
    f"""
    MSE_test = {metrics.mean_squared_error(preds, y_test)},
    MAE_test = {metrics.mean_absolute_error(preds, y_test)}
    r2_test = {metrics.r2_score(y_test, preds)}
"""
)

    MSE_test = 1871825.100671286,
    MAE_test = 971.41016005842
    r2_test = 0.9764095554873771

Реализация лин. регрессии с баз. параметрами и Хубер лосс

In [78]:
my_model = MyLinearRegression(lr=0.01, num_iter=10000, loss_function='huber', delta = 1)
my_model.fit(X_train, y_train)
preds = my_model.predict(X_test)
print(
    f"""
    MSE_test = {metrics.mean_squared_error(preds, y_test)},
    MAE_test = {metrics.mean_absolute_error(preds, y_test)}
    r2_test = {metrics.r2_score(y_test, preds)}
"""
)

    MSE_test = 222194553.08364692,
    MAE_test = 12130.837495429858
    r2_test = -1.8002981013808568

Получили очень большие ошибки MSE и MAE по сравнению с mse реализацией, сверим с встроенной функцией

In [81]:
from sklearn.linear_model import HuberRegressor

In [82]:
my_model = HuberRegressor(epsilon=1., max_iter=10000)
my_model.fit(X_train, y_train)
preds = my_model.predict(X_test)
print(
    f"""
    MSE_test = {metrics.mean_squared_error(preds, y_test)},
    MAE_test = {metrics.mean_absolute_error(preds, y_test)}
    r2_test = {metrics.r2_score(y_test, preds)}
"""
)

    MSE_test = 3330002.391511419,
    MAE_test = 1384.8629398555236
    r2_test = 0.9580322773662563

Получили схожие рез-ы с базовой реализацией, постараемся "починить" Хубер лосс задавая разные параметры

Подставим learning rate 0.5

In [88]:
my_model = MyLinearRegression(lr=0.5,loss_function='huber', delta = 1.1)
my_model.fit(X_train, y_train)
preds = my_model.predict(X_test)
print(
    f"""
    MSE_test = {metrics.mean_squared_error(preds, y_test)},
    MAE_test = {metrics.mean_absolute_error(preds, y_test)}
    r2_test = {metrics.r2_score(y_test, preds)}
"""
)

    MSE_test = 20248515.82447328,
    MAE_test = 3199.176948069883
    r2_test = 0.7448097640912607

Рез-ы стали лучше, R2 стал интерпритируемым, в отличии от пред. примера

Изменим delta на слишком большое значение

In [91]:
my_model = MyLinearRegression(lr=0.01,loss_function='huber', delta = 10000)
my_model.fit(X_train, y_train)
preds = my_model.predict(X_test)
print(
    f"""
    MSE_test = {metrics.mean_squared_error(preds, y_test)},
    MAE_test = {metrics.mean_absolute_error(preds, y_test)}
    r2_test = {metrics.r2_score(y_test, preds)}
"""
)

    MSE_test = 1878414.8759684793,
    MAE_test = 977.8320057705985
    r2_test = 0.9763265051380451

Результаты стали еще лучше! А что если поставить lr = 0.7 + delta = 10 + num_iter = 1000

In [103]:
my_model = MyLinearRegression(lr=0.7,loss_function='huber', delta = 10, num_iter=1000)
my_model.fit(X_train, y_train)
preds = my_model.predict(X_test)
print(
    f"""
    MSE_test = {metrics.mean_squared_error(preds, y_test)},
    MAE_test = {metrics.mean_absolute_error(preds, y_test)}
    r2_test = {metrics.r2_score(y_test, preds)}
"""
)

    MSE_test = 14149525.57040778,
    MAE_test = 2678.974243005121
    r2_test = 0.821674793372021

Стало чуть хуже, но в целом понятно, что для реализации Хубера необходимо подбирать гиперпарамектры. Изменения learning rate позволит начинать обучение с более высокими коэффициентами, но если подобрать num_iter, то даже с исходным получится достичь тех же результтаов, если варьировать delta то так же получится оптимизировать результаты